header {
    background-color: #47D693;
}

footer{
    background-color:#D80A0A;
}

#restName{
    font-family: 'Waiting for the Sunrise'; 
    font-size: 22px;
    text-align: center;
    background-color:#D80A0A;
}

.border {
    border-style:solid;
    border-width: 1px;
    border-color:#000000;
    width: 400px;
    margin: auto;
}

#center{
    text-align: center;
}

#BG{
    background-color: rgba(233, 136, 136, 0.36);
    text-align: center;
}

a {
    font-family: monospace;
    text-decoration: underline;
    font-weight: none;
  }
  a:link {
    color: Green;
  }
  a:visited {
    color: Red;
  }
  a:hover {
    font-weight: bold;
  }
  a:active {
    text-decoration: none;
  }

  .table2{
      table-layout: fixed;
      width: 50%;
  }

  .table2 td{
    text-align: left;
    height: 35px;
}

.table2 caption{
    text-align: left;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;    
}
  



