#restName{
    font-family: 'Waiting for the Sunrise'; 
    font-size: 22px;
    text-align: center;
    background-color:#D80A0A;
}

.border {
    border-style:solid;
    border-width: 1px;
    border-color:#000000;
    width: 400px;
    margin: auto;
}

#center{
    text-align: center;
}

.table2{
    text-align: center;
}

.table2 thead{
    font-weight: bold;
    background-color: lightgrey;
}


a {
    font-family: monospace;
    text-decoration: underline;
    font-weight: none;
  }
  a:link {
    color: Green;
  }
  a:visited {
    color: black;
  }
  a:hover {
    font-weight: bold;
  }
  a:active {
    text-decoration: none;
  }

  .table3{
      table-layout: fixed;
      width: 50%;
  }

  .table3 td{
    text-align: left;
    height: 35px;
}

.table3 caption{
    text-align: left;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;    
}

.jumbotron{
    text-align: center;
}


  



